/* Webfonts */
@import '_fonts.css';

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.css';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';


/* Simple defaults */
body {
  @apply font-sans antialiased text-black bg-white;
}

img {
   object-fit: cover;
   
}

.carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 2s ease;
  ;
}

.carousel-image.current {
  opacity: 1;
  z-index: 1;
}

@keyframes crossfade {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
